<!-- criar_simulado.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Criar Simulado</title>
</head>

<body>
    {% include 'navbar.html' %}

    <h1>Criar Simulado</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nome_simulado">Nome do Simulado:</label>
        <input type="text" name="nome_simulado" id="nome_simulado" required>
        <br>
        <label for="tema_simulado">Tema do Simulado:</label>
        <input type="text" name="tema_simulado" id="tema_simulado" required>
        <br>
        <h3>Questões:</h3>
        {% for questao in questoes %}
        <label>
            <input type="checkbox" name="questoes" value="{{ questao.id }}"> {{ questao.texto_questao }}
        </label>
        <br>
        {% endfor %}
        <br>
        <input type="submit" value="Criar Simulado">
    </form>
</body>

</html>