<!DOCTYPE html>
<html>

<head>
    <title>Detalhes do Simulado: {{ simulado.nome }}</title>
</head>

<body>
    {% include 'navbar.html' %}
    <h1>Detalhes do Simulado: {{ simulado.nome }}</h1>
    <form method="post" action="{% url 'processar_respostas' %}">
        {% csrf_token %}
        <input type="hidden" name="simulado_id" value="{{ simulado.id }}">
        <ul>
            {% for questao in simulado.questoes.all %}
            <li>{{ questao.texto_questao }}</li>
            <ul>
                {% for alternativa in questao.alternativas.all %}
                <li>
                    <input type="radio" name="questao_{{ questao.id }}" value="{{ alternativa.id }}" required>
                    {{ alternativa.texto_alternativa }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
        <input type="submit" value="Enviar Respostas">
    </form>
</body>

</html>